<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181047825196-3mke5ac02fr2gsf0034ac429a0gbio3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181047825196-3mke5ac02fr2gsf0034ac429a0gbio3l</string>
	<key>API_KEY</key>
	<string>AIzaSyAss-LfLTySImYmLbvi1gdyajoyk802gic</string>
	<key>GCM_SENDER_ID</key>
	<string>181047825196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.BCBF</string>
	<key>PROJECT_ID</key>
	<string>bcbf-42719</string>
	<key>STORAGE_BUCKET</key>
	<string>bcbf-42719.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181047825196:ios:92600d2ff69d82aa529289</string>
</dict>
</plist>